.footer {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        padding: 50px 0;
    }

    &__nav {
        text-align: center;

        ul {
            list-style: none;
            li {
                &:not(:first-child) {
                    margin-top: 15px;
                }
                a {
                    color: $text-color;
                    text-decoration: none;
                    transition: .3s all;

                    &:hover {
                        color: $main-color;
                    }
                }
            }
        }
    }

    &__info {
        a {
            display: block;
            font-size: 24px;
            color: $text-color;
            text-decoration: none;
            transition: .3s all;

            &:hover {
                color: $main-color;
            }

            &:last-child {
                margin-top: 20px;
            }
        }
    }
}