.header {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        transition: all .5s;
    }

    &__logo {
        a {
            img {
                width: 60px;
                height: 50px;
            }
        }
    }

    &__right {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__nav {
        margin-right: 30px;
        ul {
            list-style: none;
            display: flex;
            justify-content: flex-start;

            li {
                &:not(:last-child) {
                    margin-right: 20px;
                }

                a {
                    text-decoration: none;
                    color: $text-color;
                    transition: all .3s;

                    &:hover {
                        color: $main-color;
                    }
                }
            }
        }
    }

    &__hamburger {
        display: none;
        .menu-btn {
            display: block;
            width: 50px;
            height: 50px;
            cursor: pointer;
            position: relative;
            background: none;
            border: none;
            span, span::before, span::after {
                position: absolute;
                top: 50%; margin-top: -1px;
                left: 50%; margin-left: -10px;
                width: 20px;
                height: 2px;
                background-color: $main-color;
            }

            span::before, span::after {
                content: '';
                display: block;
                transition: .5s;
            }

            span::before {
                transform: translateY(-5px);
            }

            span::after {
                transform: translateY(5px);
            }
        }

        .menu-active {
            span {
                height: 0px;
            }

            span::before {
                transform: rotate(45deg);
            }

            span::after {
                transform: rotate(-45deg);
            }
        }
    }

    &__feedback {
        button {
            border: 3px solid $main-color;
            background: none;
            cursor: pointer;
            color: $main-color;
            font-size: 16px;
            font-weight: 700;
            padding: 10px 30px;
            transition: all .3s;

            &:hover {
                background: $main-color;
                color: #fff;
            }
        }
    }
}

.header_active {
    width: 100%;
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    background: #fff;
    z-index: 4;
    
    .header__wrapper {
        padding: 10px 0;
    }
}

@media screen and (max-width: 720px) {
    .header {
        &__wrapper {
            padding: 15px 0;
        }

        &__right {
            position: fixed;
            top: 0;
            left: -1500px;
            width: 70%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            background-color: #fff;
            box-shadow: 0 0 10px grey;
            z-index: 5;
            padding: 50px;
            transition: all .3s;
        }

        .nav-active {
            left: 0;
        }

        &__nav {
            padding: 0 0 150px 0;
            margin-right: 0;
            height: 100%;
            ul {
                height: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                li {
                    &:not(:last-child) {
                        margin-right: 0;
                    }
                }
            }
        }

        &__feedback {
            position: absolute;
            bottom: 50px;
            a {
                display: block;
            }
        }

        &__hamburger {
            display: block;
        }
    }
}